<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Mailbox</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
<div class="card">
    <h1>Phishing Email Detector</h1>
    <p class="subtitle">
        Connect your mailbox to begin analyzing emails.
    </p>

    <form id="connectForm">

        <label for="host">IMAP Host</label>
        <input
                id="host"
                type="text"
                placeholder="imap.gmail.com"
                required
        >

        <label for="username">Email Address</label>
        <input
                id="username"
                type="email"
                placeholder="example@gmail.com"
                required
        >

        <label for="password">App Password<br/>
            <small class="subtitle">You will need to generate one for your
                <a href="https://support.google.com/accounts/answer/185833?hl=en">Gmail</a> or
                <a href="https://www.microcybersec.com/post/how-to-create-and-use-an-app-password-for-outlook">Outlook</a>
                account.
            </small>
        </label>
        <input
                id="password"
                type="password"
                required
        >

        <button id="connectButton" type="submit">
            Connect
        </button>

        <div id="status" class="status"></div>

    </form>

</div>

<script src="/static/js/login.js"></script>

</body>
</html>